#tweets-hover {
  opacity: 0.5; }

#tweets-hover:hover {
  opacity: 1.0; }

#tweets-hover:hover .footer .icon {
  opacity: 1.0; }

.all-tweets {
  border-radius: 5px;
  border: 1px solid lightgrey;
  height: 15em; }
  .all-tweets .header {
    background-color: #EFEFEF;
    height: 30%;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; }
  .all-tweets .tweets-h2 {
    position: relative;
    float: left;
    margin: 10px 0px 10px 10px; }
  .all-tweets .pic {
    border-radius: 5px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 10px; }
  .all-tweets .tweeter-name {
    float: right;
    position: relative;
    margin-right: 10px;
    margin-top: 20px;
    color: #9F9F9F;
    font-size: 80%; }
  .all-tweets .tweet {
    position: relative;
    height: 55%;
    padding: 3em 1em 0em 1em;
    border-bottom: 1px solid lightgrey;
    word-wrap: break-word; }
  .all-tweets .footer {
    height: 15%;
    position: relative;
    padding: 1em 1em 0em 1em;
    font-size: 80%; }
    .all-tweets .footer .icon {
      float: right;
      opacity: 0;
      color: #35B58E; }
