#nav-bar {
  position:fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0;
  padding-bottom: 0;
  z-index:1000;
  top:0;
  min-width: 420px;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  float: left;
}

#nav-bar .header {
  margin-left: 10px;
  font-size: 2em;
  box-sizing: border-box;
  float: left;
  line-height: 80px;
  height: 80px;
}

#toggle {
  list-style-type: none;
  float: right;
  width: 7.5em;
  height: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 8px;
  padding-bottom: 10px;
  margin-right: 15px;
}

#toggle li {
  font-size: 1.2em;
  background-color: #E8FDFF;
  color: #00a087;
  padding-left:15px;
  padding-bottom: 20px;
  padding-top: 19px;
  border-radius:7px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  opacity: 0.7;
}

#toggle li:hover {
  opacity: 1.0;
}
